<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include('partials/errorDisplay') -%>
    <form action="/login" method="POST">
        <div> 
            <label for="email" class="form-label">Username</label>
            <input
            name="email"
            id="email"
            type="email"
            required
            />
        </div>
    
    <div> 
        <label for="password" class="form-label">Password</label>
        <input
        name="password"
        id="password"
        type="password"
        required
        />
    </div>
    <button>Login</button>
</form>
<p >
    No Account? <a href="/register">Register</a>
  </p>
</body>
</html>